*
!bin/generate-pwa.mjs
!bin/install-libraries.sh
!bin/server.mjs
!src
!src/**
src/UI/Icon/icon*.*
src/UI/Manifest/manifest*.json
src/UI/favicon.ico
src/UI/index*.html
!src/UI/Icon/icon*-template.svg
!src/UI/Manifest/manifest-template.json
!src/UI/index-template.html
