*
!bin
!bin/**
!src
!src/**
!.dockerignore
!.gitignore
!CHANGELOG.md
!Dockerfile
!metadata.json
!README.md
src/UI/index*.html
src/UI/Pwa/manifest*.json
!src/UI/index-template.html
!src/UI/Pwa/manifest-template.json
