:root {
    --flux-color-scheme-light-accent: #000080;
    --flux-color-scheme-light-accent-foreground: #ffffff;
    --flux-color-scheme-light-accent-foreground-rgb: 255, 255, 255;
    --flux-color-scheme-light-accent-rgb: 0, 0, 128;
    --flux-color-scheme-light-background: #ffffff;
    --flux-color-scheme-light-background-rgb: 255, 255, 255;
    --flux-color-scheme-light-foreground: #000000;
    --flux-color-scheme-light-foreground-rgb: 0, 0, 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
    margin-top: 50px;
}

flux-button-group {
    left: 0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
}

body > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
