:root {
    --accent-color-rgb: 0, 0, 128;
    --flux-color-scheme-dark-accent-color-rgb: var(--accent-color-rgb);
    --flux-color-scheme-light-accent-color-rgb: var(--accent-color-rgb);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

body div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
