:root {
    --flux-color-scheme-light-accent: #000080;
    --flux-color-scheme-light-accent-foreground: #ffffff;
    --flux-color-scheme-light-accent-foreground-rgb: 255, 255, 255;
    --flux-color-scheme-light-accent-rgb: 0, 0, 128;
    --flux-color-scheme-light-background: #ffffff;
    --flux-color-scheme-light-background-rgb: 255, 255, 255;
    --flux-color-scheme-light-foreground: #000000;
    --flux-color-scheme-light-foreground-rgb: 0, 0, 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

body div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
